<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yumarketforowners">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".YUMarketApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YUMarketForOwners"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.screen.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="${KAKAO_NATIVE_KEY}" />

            </intent-filter>
        </activity>

        <activity android:name=".presentation.screen.reviewmanage.innerfragment.chatroom.chatroomdetail.ChatRoomDetailActivity" />
        <activity android:name=".presentation.screen.MainActivity" />
        <activity android:name=".presentation.screen.marketmanage.updatemarket.UpdateMarketActivity" />
        <activity android:name=".presentation.screen.itemmanage.updateitem.UpdateItemActivity" />
        <activity android:name=".presentation.screen.marketmanage.notice.NoticeActivity" />
        <activity android:name=".presentation.screen.marketmanage.profile.UpdateProfileActivity" />
        <activity android:name=".presentation.screen.itemmanage.additem.AddItemActivity" />
    </application>

</manifest>